#exitButton {          
    -fx-background-image: url("../images/close24.png");
    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-background-color: transparent;  
}
#programTitle{
	-fx-image: url("../images/title.png");
}

#settingsButton {          
    -fx-background-image: url("../images/settings24.png");
    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-background-color: transparent;  
}
#rootBorderPane {
	-fx-border-color: black;
}

#idColumn {
    -fx-alignment: CENTER;
}

/* GUI Interface background colour */
.theme {
    master-color: grey;
    -fx-background-color: #DFB951;
    -fx-font-size: 14px;
}

.split-pane {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-background-color: derive(master-color, 100%);
}

/* Background colour for Hashtag list */
.lightList .list-cell {
    -fx-padding: 6 0 0 13;
    -fx-background-color: derive(master-color, -60%);
    -fx-text-fill: lightgrey;
}

/* Selected row for Hashtag list */
.lightList .list-cell:focused:selected {
    -fx-text-fill: black;
    -fx-background-color: #6495ed;
}

/* Selected row for table */
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #6495ed;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

/* Selected row when table not focused */
.table-row-cell:filled:focused:selected {
    -fx-background-color: grey;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

/* Table row border colour */
.table-row-cell {
	 -fx-border-color: white;
}

/* Removed border colour when task table is empty */
.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

/* Different highlight type for task*/
.isTaskLastAdded { 
	-fx-background-color: #DFEFF0;
}
.isOverlapStatic { 
	-fx-background-color: #EB77A6;
}
.isOverlapDynamic { 
	-fx-background-color: #EB77A6;
}
.isPriority { 
	-fx-background-color: #BDD8DA;
}
.isPriorityOverlapStatic { 
	-fx-background-color: #E23D80;
}
.isPriorityOverlapDynamic { 
	-fx-background-color: #E23D80;
}
.isDefaultHashtag { 
	-fx-background-color: skyblue;
}
.isSelectedHashtag { 
	-fx-background-color: white ;
}
.isInvalidHashtag { 
	-fx-background-color: red;
}