/**
 * @author Lin XiuQing (A0112764J)
 */
 
#exitButton {          
   
    -fx-background-size: 24.0 24.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-background-color: transparent;  
}
#programTitle{
	-fx-image: url("../images/title.png");
}

.rootAnchorPane {
	
}

.tab-header-background{
	-fx-background-color: lightgray;
}

/* GUI Interface background colour */
.theme {
    master-color: gray;
    -fx-background-color: lightgray;
    -fx-font-size: 12.0px;
}