/**
 * @author Lin XiuQing (A0112764J)
 */
 
#exitButton {          
    -fx-background-image: url("../images/close24.png");
    -fx-background-size: 24.0 24.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-background-color: transparent;  
}
.basicFeatures {          
    -fx-background-image: url("../images/basic.png");
}
.hotkeys {          
    -fx-background-image: url("../images/hotkeys.png");
}
.hashtags {          
    -fx-background-image: url("../images/hashtag.png");
}
.specialFeatures {          
    -fx-background-image: url("../images/special.png");
}
#programTitle{
	-fx-image: url("../images/title.png");
}

.rootAnchorPane {
	
}

.tab-header-background{
	-fx-background-color: black;
}

/* GUI Interface background colour */
.theme {
    master-color: gray;
    -fx-background-color: gold;
    -fx-font-size: 14.0px;
}