#exitButton {          
    -fx-background-image: url("images/close24.png");
    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-background-color: transparent;  
}

#settingsButton {          
    -fx-background-image: url("images/settings24.png");
    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-background-color: transparent;  
}
#rootBorderPane {
	-fx-border-color: black;
}

.theme {
    master-color: grey;
    -fx-background-color: #DFB951;
    -fx-font-size: 14px;
}

.split-pane {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-background-color: derive(master-color, 100%);
}

.darkList {
	master-color: grey;
    -fx-background-color: derive(master-color, -60%);
}

.darkList .list-cell {
    -fx-padding: 6 0 0 13;
    -fx-background-color: derive(master-color, -60%);
    -fx-text-fill: lightgrey;
}

.darkList .list-cell:focused {
    -fx-text-fill: white;
    -fx-background-color: derive(master-color, -60%);
}

.lightList {
	master-color: grey;
    -fx-background-color: derive(master-color, -60%);
}

.lightList .list-cell {
    -fx-padding: 6 0 0 13;
    -fx-background-color: derive(master-color, -60%);
    -fx-text-fill: lightgrey;
}

.lightList .list-cell:focused {
    -fx-text-fill: white;
    -fx-background-color: derive(white, -60%);
}

.lightList {
	master-color: grey;
    -fx-background-color: derive(master-color, -60%);
}

.lightList .list-cell {
    -fx-padding: 6 0 0 13;
    -fx-background-color: derive(master-color, -60%);
    -fx-text-fill: lightgrey;
}

.lightList table-view:focused {
    -fx-text-fill: white;
    -fx-background-color: derive(white, -60%);
}

